*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    display: flex;
    border: 5px solid red;
    justify-content: space-around;
    align-items: center;
    
}
#navul{
    display: flex;
    list-style: none;
    gap: 70px;
    border: 5px solid blue;
    justify-content: center;
    color: black;
    cursor: pointer;
}

.togglebtn {
    display: none;
}

/* Section 2  */

.sec2main{
  border: 3px solid red;
  display: flex;
justify-content: space-around;
}
.sec2right{
  border: 3px solid blue;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  
  
}
.table{
  display: flex;
  border: 5px solid greenyellow;
  gap: 5px;
}
.table1{
  /* padding: 10px; */
  border: 2px solid red;
  height: 250px;
  width: 250px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.table2{
  /* padding: 10px; */
  border: 2px solid red;
  height: 250px;
  width: 250px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.sec2left,img{
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}
span{
  color: rgb(149, 151, 153);
}
.heading2{
text-align: center;
/* font-size: 45px; */
}

/* Section 3 */

.container{
  width:100%;
  height: 110vh;
  background: #212020;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills h2{
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 40px;
  margin-bottom: 5px;
  color: #ffff;
}
.progress-bar{
  background: #4f4e4e;
  width: 600px;
  height: 10px;
  border-radius: 5px;
}
.progress-bar div{
  height: 10px;
  border-radius: 5px;
  width: 0%;
  /* background: red; */
}
.progress-bar div span{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #fff;
  float: right;
  margin-top: -10px;
  margin-right:-20px;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.HTML{
  background-color: red;
  animation: HTML 4s linear forwards ;
}
.CSS{
  background: blue;
  animation: CSS 4s linear forwards
}
.JavaScript{
  background: greenyellow;
  animation: JavaScript 4s linear forwards;
}
.React{
  background: skyblue;
  animation: React 4s linear forwards;
}
.HTML span{
  border: 2px solid gray;
}
.CSS span{
  border: 2px solid #ffeb3b;
}
.React span{
  border: 2px solid green;
}
.JavaScript span{
  border: pink;
}
@keyframes HTML{
  100%{
    width: 81%;
  }
} 

@keyframes CSS{
  100%{
    width: 78%;
  }
} 

@keyframes JavaScript{
  100%{
    width: 76%;
  }
} 
@keyframes React{
  100%{
    width: 67%;
  }
}

/* Section 4 */

.swiper {
  width: 100%;
  height: 60%;
}

.swiper-slide {
  text-align: center;
  font-size: 16px;
  background: #0b0b0b;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 5px;
  border-radius: 30px;
  border: 2px solid red;
  
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 60%;
  object-fit: cover;
}
.container4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 10px 20px;
  /* border: 5px solid greenyellow; */
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
#logo {
  border: 2px solid rgb(236, 236, 240);
  border-radius: 50%;
}
body {
  position: relative;
  height: 100%;
}
.swipermain{
  height: 500px;
  border: 2px solid blue;
  display: flex;
  align-items: center;
  background: #4a4949;
}
.swipeheader{
  text-align: center;
  font-size: 45px;
  background: #4a4949;
}

/* Mobile responsive */

@media screen and (max-width:450px){
    #navul{
        display: none;
       }
       .togglebtn{
        display: flex;
       }
       .resume{
        display: none;
       }
       ul{
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 30px;
       }
       /* Section 2 */
       .sec2main{
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
       }
       .sec2left img{
        margin: 20px;
        width: 180px;
        height: 200px;
        /* border-radius: 50px; */
       }
       .table{
        flex-direction: column;
        gap: 30px;
        margin-top: 20px;
       }

       /* section 3 */
       .progress-bar{
        width: 300px;
       }
       .container{
        height: 500px;
       }
       /* Section 4 */
       .swipermain{
        flex-direction: column;
        /* height: 400px; */
        justify-content: center;
        align-items: center;
       
        height:600px ;
       
       }
       .swiper-slide{
      
        border: 4px solid yellow;
        
      
       }
       .swiper{
       display: block;
       }
       .swipeheader{
        /* display: block; */
        flex-direction: column;
       }
      
    
}