*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    display: flex;
    border: 2px dashed rgb(252, 248, 248);
    justify-content: space-around;
    align-items: center;
    background: #000;
    
}
#navul{
    display: flex;
    list-style: none;
    gap: 70px;
    /* border: 5px solid blue; */
    justify-content: center;
    color: black;
    cursor: pointer;
}
li>a{
  color: rgb(249, 255, 240);
  font-family:"Roboto Slab" ;
  font-weight: 600;
  text-decoration: none;
}
li>a:hover{
  color:#19B5FE;
  text-decoration: underline 2px solid#F22613;  
}
#navul li:hover{
  transform: scale(1.2);
}

.togglebtn {
    display: none;
}

.btn_resume{
  padding: 8px 18px;
  font-family: "Roboto Slab";
  font-weight: 600;
  border: none;
  border-radius: 10px;
  background: #19B5FE;
  color: #ffff;
  cursor: pointer; 
}
.btn_resume a{
  color: #ffff;
  text-decoration: none;
}

.btn_resume:hover{
  background: #000;
  border: 1px solid #ffff;
  color: #ffff;
  transform: scale(0.9);
}


/* Section 2  */

.sec2main{
  /* border: 3px solid red; */
  display: flex;
justify-content:center;
padding: 10px;
background: #000000;
}
.sec2right{
  /* border: 3px solid blue; */
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  
  
}
.table{
  display: flex;
  /* border: 5px solid greenyellow; */
  gap: 10px;
}
.table1{
  /* padding: 10px; */
  border: 2px dashed rgb(253, 247, 247);
  border-radius: 20px;
  height: 250px;
  width: 250px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.table2{
  /* padding: 10px; */
  border: 2px dashed rgb(254, 251, 251);
  border-radius: 20px;
  height: 250px;
  width: 250px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.table1:hover{
  border: 3px dashed rgb(71, 245, 8);
  transform: scale(0.9);
  cursor: pointer;
}
.table2:hover{
  border: 3px dashed rgb(71, 245, 8);
  transform: scale(0.9);
  cursor: pointer;
}
.sec2left,img{
  clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
 
}
#aboutimg{
  border: 5px solid rgb(251, 251, 250); 
}
#aboutimg:hover{
  border: 5px solid rgb(1, 250, 18); 
}
span{
  color: #FF6666;
}

.heading2{
text-align: center;
font-family: "Raleway";
/* font-size: 45px; */
color: #e6eaec;
}
h3{
  color: #f9fbfc;
  font-family: "Raleway";
}

/* Section 3 */

.container{
  width:100%;
  height: 100vh;
  background: #eae4e4;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./img/squares.png);
  
}
.skills{
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 1.2);
  box-shadow: 10px 20px 14px 1px rgba(8,8,8,1);
 
  
}
.skills h2{
  font-weight: 400;
  letter-spacing: 1px;
  margin-top: 40px;
  margin-bottom: 5px;
  color: #ede5e5;
  font-family:"Raleway";
  
}
.progress-bar{
  background: #4f4e4e;
  width: 600px;
  height: 10px;
  border-radius: 5px;
}
.progress-bar div{
  height: 10px;
  border-radius: 5px;
  width: 0%;
  /* background: red; */
  
}
.progress-bar div span{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #fff;
  float: right;
  margin-top: -10px;
  margin-right:-20px;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.HTML{
  background-color: red;
  animation: HTML 6s linear forwards ;
}
.CSS{
  background: blue;
  animation: CSS 6s linear forwards
}
.JavaScript{
  background: greenyellow;
  animation: JavaScript 6s linear forwards;
}
.React{
  background: skyblue;
  animation: React 6s linear forwards;
}
.HTML span{
  border: 2px solid gray;
}
.CSS span{
  border: 2px solid #ffeb3b;
}
.React span{
  border: 2px solid green;
}
.JavaScript span{
  border: pink;
}
@keyframes HTML{
  100%{
    width: 81%;
  }
} 

@keyframes CSS{
  100%{
    width: 78%;
  }
} 

@keyframes JavaScript{
  100%{
    width: 76%;
  }
} 
@keyframes React{
  100%{
    width: 67%;
  }
}

/* Section 4 */

.swiper {
  width: 50%;
  height: 60%;
}

.swiper-slide {
  text-align: center;
  font-size: 16px;
  background: #070707;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 5px;
  border: 2px solid rgb(226, 222, 225);
  width: 500px;
  

  
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 60%;
  object-fit: cover;
}
.container4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 10px 20px;
  /* border: 5px solid greenyellow; */
}

figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
#logo {
  border: 2px solid rgb(236, 236, 240);
  border-radius: 50%;
}
body {
  position: relative;
  height: 100%;
}
.swipermain{
  height: 500px;
  border: 2px solid rgb(5, 230, 46);
  display: flex;
  align-items: center;
 /* background-image: url(./img/3d-render-grunge-room-with-smoky-atmosphere-spotlight.jpg);
 background-size: cover;
 background-repeat: no-repeat; */
 
}
q{
  font-family: "Fira code";
}
h2{
  font-family: "Roboto Slab";
}
.swipeheader{
  text-align: center;
  font-size: 45px;
  background: #020202;
  color: #e6eaec;
  font-family: "Fira code";
}
/* Section 5 */
.footermain{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(207, 203, 203);
}


/* Mobile responsive */

@media screen and (max-width:450px){
    #navul{
        display: none;
       }
       .togglebtn{
        display: flex;
       }
       .resume{
        display: none;
       }
       ul{
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 30px;
       }
       /* Section 2 */
       .sec2main{
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
       }
       .sec2left img{
        margin: 20px;
        width: 180px;
        height: 200px;
        /* border-radius: 50px; */
       }
       .table{
        flex-direction: column;
        gap: 30px;
        margin-top: 20px;
       }

       /* section 3 */
       .progress-bar{
        width: 300px;
       }
       .container{
        height: 500px;
       }
       /* Section 4 */
       .swipermain{
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        height:400px ;
       }
       .swiper-slide{
        border: 4px solid yellow;
       }
       .swiper{
       display: block;
       }
       .swipeheader{
        /* display: block; */
        flex-direction: column;
       }
       .swiper {
        width: 80%;
        height: 80%;
      }
      q{
        font-size: 14px;
      }
      #navbtn{
        cursor: pointer;
      }
      .newdivdata{
        background: red;
        height: 40px;
        text-align: center;
       

        
      }
      .ul1 li{
        padding: 8px 0px;
        display: flex;
        justify-content: space-around;
        
      }
      
    
}